@tailwind base;
@tailwind components;
@tailwind utilities;

/* We are defining a custom utility here
It is good practice to use @layer <tailwind-layer> and then inside our new class we
just apply what classes we want to bundle together */
@layer utilities {
    .gradient {
      @apply bg-gradient-to-tr from-primary to-secondary;
    }
    .reg-text {
        @apply text-center px-6 py-10 sm:text-2xl container mx-auto lg:max-w-screen-lg;
    }
    .card-text {
        @apply text-sm sm:p-5 sm:text-lg;
    }
  }

@layer components {
    .single-card {
        @apply m-10 p-5 gradient rounded-3xl shadow-2xl transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105
    }
    .link {
        @apply text-blue-800 animate-pulse hover:underline hover:text-red-500 transition duration-500;
    }
}